<h1 class="my-10">サークル一覧</h1>

<div class=" grid grid-cols-3">
  <% @users.each do |user| %>
  <div class=" py-5 px-2 shadow-md">
    <p>メールアドレス：<%= user.email %></p>
    <p><%= user.image %></p>
    <p><%= user.description %></p>
  </div>


  <% end %>
</div>