<h1 class=" text-2xl my-10">詳細ページ</h1>
<div class="m-40">
    <div class="grid grid-cols-2 shadow-2xl">
        <div class=" justify-center items-center flex">
            <% if @user.image.attached? %>
            <%= image_tag(@user.image)%>
            <% else %>
            <div class="image bg-slate-800 w-full h-40"></div>
            <% end %>
        </div>

        <div class="py-10 px-2">
            <% if @user.admin === true %>
            <p>userはいません</p>
            <% else %>
            <p class="user-name">名前：<%= @user.name %></p>
            <p>メールアドレス：<%= @user.email %></p>

            <p>説明：<%= @user.description %></p>
            <% end %>
        </div>
    </div>

</div>